@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&family=Ubuntu:wght@400;500;700&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $ubuntu;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $overpass;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
